01_whatsapp_agent/whatsapp_agent.json
{
  "name": "whatsapp_agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -16
      ],
      "id": "8a220393-cca1-4d3f-b2b2-fc292c3551be",
      "name": "WhatsApp Trigger",
      "webhookId": "5ed4a134-7f70-42fe-8aa0-6921455ea3fa",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "eJJJG2HPpwSbnsjV",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "you are a helpful whatsapp assistant you have a whatsapp message sending tool so when a user messages u review it and generate appropriate reply for it then must use the whatsapp tool to send the reply"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        -16
      ],
      "id": "88fe3b8b-1b93-4ca5-80b5-ea3a9ef17870",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        192
      ],
      "id": "fba44f4e-5161-49e9-904d-c32cc559ea08",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FNxhQWE6wnUkE6YB",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=4545"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        192
      ],
      "id": "381ab0cf-3eb0-4d02-9441-5901bc9b75e3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ 765484426650134 }}",
        "recipientPhoneNumber": "={{ $json.messages[0].from }}",
        "textBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text_Body', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsAppTool",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "5abf8077-9f59-464e-8c16-812c4e2f9680",
      "name": "Send message in WhatsApp Business Cloud",
      "webhookId": "c1060fcd-2b6e-444a-a060-3b4d5638a499",
      "credentials": {
        "whatsAppApi": {
          "id": "YT4xECZElyYh7wna",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send message in WhatsApp Business Cloud": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52c76c36-675d-4e1a-83d8-73dc206369c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd6a11aa444882fb508ae4fc87589790794d49c0c285f15cc5466d4e7de8d586"
  },
  "id": "WTmbhwwpFlQ4pdCq",
  "tags": []
}